/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services-area .left-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-area .services-desc {
    font-size: 18px;
    padding: 15px 0 40px 0;
}
.services-area .card {
    border: 0;
    padding: 100px 20px 20px 20px;
    position: relative;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    text-decoration:none;
    border-radius:5px;
    overflow:hidden;
  }
  
  .services-area .card-body {
    /* z-index: 10; */
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;    
    text-align: center;    
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .services-area .card-title {
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--secondary-theme-color);
    font-size: 28px;
  }
  
  .services-area .card-text {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
  }
  
  .services-area .read-more a {
    color: var(--primary-theme-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: 0.4s;
  }
  
  .services-area .card:hover .card-body {
    background: var(--secondary-text-color);
    opacity: 0.9;
  }
  .services-area .card:hover .card-text {
    color: #fff;
  }
  